/*Contenido css para mi portal*/
h1{
    color:rgb(68, 51, 3);

    background-color:goldenrod;/*Es un color extraño cambio en RamaA mantener**************/    
    }

div{
    color:rgb(36, 128, 0);
    /*Aqui se produce un cambio de nuevo cambios en Master masntener***********/
    font-size:14px;
    /*Era necedario*/
    }     


h2,h3,h4,h5,h6 {
    color:blue;
    background-color:goldenrod;
    }

   