/*Contenido css para mi portal*/
h1{
    color:red;

    background-color:goldenrod;/*Es un color extraño cambio en RamaA mantener*/    
    }

div{
    color:rgb(128, 26, 0);
    /*Aqui se produce un cambio de nuevo cambios en Master masntener*/

    /*Era necedario*/
    }     


h2,h3,h4,h5,h6 {
    color:blue;
    background-color:goldenrod;
    }

   